/* ------------------------------------------------------------------------------------------------------------------------------
ARTICLE POST
--------------------------------------------------------------------------------------------------------------------------------*/
.article__content {
	h2 {
		font-weight: 500;
		font-size: 30px;
		color: #2f2f2f;
	}

	p,
	li {
		font-weight: 400;
		font-size: 16px;
		color: #2f2f2f;
	}
	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	li {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			width: 4px;
			height: 4px;
			top: 0;
			left: 0;
			background-color: var(--accent);
		}
	}
}
