/* ------------------------------------------------------------------------------------------------------------------------------
ARTICLE PAGE LAYOUT
--------------------------------------------------------------------------------------------------------------------------------*/
.ord-1{
    order: 1;
    @include sm{
        order: 2;
    }
}
.ord-2{
    order: 2;
    @include sm{
        order: 1;
    }
}

