/* ------------------------------------------------------------------------------------------------------------------------------
ARTICLE SIDEBAR
--------------------------------------------------------------------------------------------------------------------------------*/
.article-sidebar {
	padding-top: 35px;	
	margin-left: -10px;

	@include md {
		margin-left: 0px;
		margin-bottom: 15px;
	}

	@include sm {
		margin-bottom: 12px;
		padding-top: 20px;
	}
}

/*-------------------------------------------------------- Article -widget --------------------------------------------------------*/

.article-widget {
	color: #2f2f2f;

	background: #f6f6f6;
	padding: 30px;

	min-height: 303px;

	@include sm {
		padding: 20px;
		min-height: initial;
	}

	&__title {
		font-weight: 700;
		font-size: 20px;

		padding-bottom: 20px;

		@include sm {
			font-size: 18px;			
		}
	}
	ul li a {
		font-weight: 400;
		font-size: 16px;

		@include sm {
			font-size: 14px;
		}

		color: #2f2f2f;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: var(--accent);
			text-decoration: underline;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;

		padding-left: 6px;

		@include sm {
			gap: 5px;
		}
	}

	&__sublist {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include sm {
			padding-top: 5px;
			gap: 5px;
		}

		padding-left: 20px;
		padding-top: 6px;
	}
}
