.desktop-vs {
	display: none;
	@media (min-width: 1200px) {
		display: block;
	}
}
.sm-vs {
	display: none;
	@include sm {
		display: block;
	}
}
/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS
--------------------------------------------------------------------------------------------------------------------------------*/
.section {
	padding-block: rem(35);

	@include sm {
		padding-block: rem(30);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: rem(35);

		&-title {
			font-weight: 500;
			font-size: rem(30);
			color: var(--text);

			@include md {
				font-size: rem(24);
			}
		}
	}
}
/* --------------------------------------------------------------- CATALOG BUTTON --------------------------------------------------------------------*/
.btn-catalog {
	display: flex;
	align-items: center;
	gap: rem(10);

	padding-inline: rem(18);
	min-height: rem(44);

	background: var(--red);

	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	@include sm {
		min-height: rem(36);
		width: rem(36);
		padding-inline: 0;
		justify-content: center;
	}

	/* --------------------------------------------------------------- BURGER BUTTON --------------------------------------------------------------------*/
	&__burger {
		position: relative;
		display: inline-block;

		width: rem(20);
		height: rem(13);

		flex-shrink: 0;

		cursor: pointer;

		span,
		&::before,
		&::after {
			display: block;
			content: "";
			transition: var(--transition);
			position: absolute;
			left: 0;
			width: 100%;
			height: 1.5px;
			background-color: var(--white);
			border-radius: rem(10);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-65%);
		}
		&.active span {
			width: 0;
		}
		&.active::before {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
		&.active::after {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg);
		}
	}

	// NAME
	&__name {
		font-weight: 500;
		font-size: rem(18);
		color: var(--white);
	}
}

/* --------------------------------------------------------------- SEARCH FORM --------------------------------------------------------------------*/
.search-form {
	display: flex;
	justify-content: space-between;

	padding-inline: rem(18);
	min-height: rem(44);
	background-color: var(--white);

	flex-grow: 1;

	&__input {
		font-weight: 400;
		font-size: rem(15);

		&::placeholder {
			color: rgba(47, 47, 47, 0.5);
		}
	}

	&__button {
		transform: translateY(5%);

		transition: var(--transition);

		&:hover {
			transform: translateY(5%) scale(1.1);
		}
		svg {
			width: rem(19);
			height: rem(20);
		}
	}
}

/* --------------------------------------------------------------- LOGIN BUTTON --------------------------------------------------------------------*/
.btn-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	height: rem(44);

	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	svg {
		width: rem(26);
		height: rem(26);
	}

	@include sm {
		height: rem(32);
		svg {
			width: rem(16);
			height: rem(16);
		}
	}

	span {
		display: block;
		font-weight: 400;
		font-size: rem(14);
		color: var(--white);
		line-height: 80%;

		@include sm {
			font-size: rem(10);
		}
	}
}

/* --------------------------------------------------------------- LANGUAGE SWITCHER --------------------------------------------------------------------*/
.lang-switcher {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: rem(44);
	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	&__icon {
		border-radius: rem(5);
		overflow: hidden;

		width: rem(34);
		height: rem(24);
	}

	svg {
		width: rem(34);
		height: rem(24);
	}
	@include sm {
		height: rem(32);

		svg {
			width: rem(25);
			height: rem(16);
		}
	}
	&__name {
		display: block;
		font-weight: 400;
		font-size: rem(14);
		color: var(--white);
		line-height: 80%;

		@include sm {
			font-size: rem(10);
		}
	}
}

/* --------------------------------------------------------------- ACCENT BUTTON --------------------------------------------------------------------*/

.btn-accent {
	display: inline-flex;
	align-items: center;
	padding-inline: rem(46);
	min-height: rem(42);

	background-color: var(--accent);

	font-weight: 500;
	font-size: rem(15);
	line-height: 122%;
	color: var(--white);

	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	@include sm {
		font-size: rem(14);
		min-height: rem(45);
		display: flex;
		justify-content: center;
	}
}
