/* ------------------------------------------------------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	background-color: var(--accent);

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 3vw;

		padding-block: rem(20);
		min-height: rem(165);

		@include lg {
			gap: rem(50) rem(0);
			flex-wrap: wrap;
		}
		@include sm {
			gap: rem(30) 0;
			margin-left: rem(-30);
			margin-right: rem(-30);
			padding-block: rem(30);
		}
	}

	&__item {
		width: 20%;

		@include lg {
			width: 50%;
		}
		@include sm {
			padding-left: rem(30);
			padding-right: rem(30);
		}

		&-row {
			display: flex;
			gap: rem(15);

			.footer__list {
				width: 100%;
				max-width: rem(67);
			}
		}

		&--social {
			@include lg {
				width: 100%;

				.footer__title {
					display: none;
				}
			}
		}
	}

	&__title {
		font-weight: 500;
		font-size: rem(16);
		color: var(--white);
		line-height: 125%;

		margin-bottom: rem(15);

		@include sm {
			width: 85%;
			font-size: rem(14);
			margin-bottom: rem(6);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(7);
		@include sm {
			gap: 0;
		}
	}

	&__link {
		font-weight: 400;
		font-size: rem(14);
		color: var(--white);

		line-height: 110%;

		display: inline-flex;
		align-items: center;
		gap: rem(10);

		@include sm {
			white-space: nowrap;
			font-size: rem(12);
		}

		&:hover {
			text-decoration: underline;
		}

		svg {
			flex-shrink: 0;
		}

		.icon--phone {
			width: rem(20);
			height: rem(20);
			@include sm {
				width: rem(16);
				height: rem(16);
			}
		}
		.icon--email {
			width: rem(20);
			height: rem(20);
			@include sm {
				width: rem(16);
				height: rem(16);
			}
		}
		.icon--tg {
			width: rem(20);
			height: rem(16);
			@include sm {
				width: rem(16);
				height: rem(13);
			}
		}
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
		max-width: rem(140);

		gap: rem(10);

		@include lg {
			max-width: 100%;
			gap: rem(30);
		}

		@media (max-width: 440px) {
			justify-content: space-between;
			gap: 0;
		}

		&-link {
			width: rem(36);
			height: rem(36);
			background-color: var(--red);

			display: flex;
			align-items: center;
			justify-content: center;
			transition: var(--transition);

			&:hover {
				filter: var(--filter);
			}
		}

		svg {
			transform: translateX(0);
		}

		.icon--soc-vk {
			width: rem(18);
			height: rem(18);
		}
		.icon--soc-max {
			width: rem(18);
			height: rem(18);
		}
		.icon--soc-whatsapp {
			width: rem(18);
			height: rem(18);
		}
		.icon--soc-tg {
			width: rem(18);
			height: rem(16);
		}
		.icon--soc-wechat {
			width: rem(23);
			height: rem(19);
		}
	}

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		border-top: 1px solid rgba(255, 255, 255, 0.2);

		padding-block: rem(20);

		@include lg {
			padding-bottom: rem(30);
		}
		@include sm {
			padding-block-start: rem(15);
			padding-block-end: rem(25);
		}
	}

	&__logo {
		display: block;
		width: rem(201);
		flex-shrink: 0;

		transition: var(--transition);

		&:hover {
			filter: var(--filter);
		}

		@include lg {
			width: rem(152);
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			overflow: hidden;
		}
	}

	&__copyright {
		font-weight: 500;
		font-size: rem(14);
		color: var(--white);
		opacity: 0.5;

		@include sm {
			display: none;
		}
	}
}
