/* ------------------------------------------------------------------------------------------------------------------------------
OnE REVIEW
--------------------------------------------------------------------------------------------------------------------------------*/
.review {
	border: 1px solid rgba(47, 47, 47, 0.1);
	padding: rem(20);

	@include sm{
		padding: rem(15) rem(12) rem(15);
	}

	.rating-stars {
		gap: rem(4);
		&__item svg {
			width: rem(12);
			height: rem(12);

			@include sm {
				width: rem(8.5);
				height: rem(8.5);
			}
		}
	}

	&-header {
		display: flex;
		align-items: center;
		gap: rem(7);

		margin-bottom: rem(15);

		@include sm{
			margin-bottom: rem(5);
		}

		&__avatar {
			display: flex;
			justify-content: center; /* по горизонтали */
			align-items: center; /* по вертикали */

			aspect-ratio: 1/1;
			overflow: hidden;
			width: rem(50);

			padding: rem(3);
			border-radius: 50%;
			flex-shrink: 0;

			img {
				height: 100%; /* растягиваем изображение по высоте контейнера */
				width: auto; /* сохраняем пропорции изображения по ширине */
				max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
				object-fit: cover;
				object-position: center center;
			}
		}
		&__info {
			display: flex;
			flex-direction: column;
			gap: rem(2);
		}
		&__info-group {
			display: flex;
			flex-direction: row;

			gap: rem(10);
			align-items: baseline;

			.info-group__name {
				font-weight: 500;
				font-size: rem(16);

				@include sm{
					font-size: rem(14);
				}
			}
			.info-group__date {
				font-size: rem(14);
				opacity: 0.5;

				@include sm{
					font-size: rem(10);
				}
			}
		}
	}
	&-body {
		&__text {
			font-weight: 400;
			font-size: rem(14);

			margin-bottom: rem(20);

			@include sm{
				margin-bottom: rem(15);
				font-size: rem(12);
				line-height: 142%;
			}
			p {				
				margin-bottom: rem(10);
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		&__collection {
			display: flex;
			align-items: center;
			gap: rem(15);
			a {
				display: flex;
				justify-content: center; /* по горизонтали */
				align-items: center; /* по вертикали */

				aspect-ratio: 1/1;
				overflow: hidden;
				width: rem(52);

				flex-shrink: 0;

				img {
					height: 100%; /* растягиваем изображение по высоте контейнера */
					width: auto; /* сохраняем пропорции изображения по ширине */
					max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
					object-fit: cover;
					object-position: center center;
				}
			}
		}
	}
}
