/* ------------------------------------------------------------------------------------------------------------------------------
CATALOG SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.catalog {
	color: var(--text);	
}

.catalog-card {
	background: #f6f6f6;
    height: 100%;

	&__image {
		width: 100%;
		aspect-ratio: 302/201;
		overflow: hidden;

		display: flex;
		align-items: center;

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			overflow: hidden;
		}
	}

	&__content {
		padding-block-start: rem(15);
        padding-block-end: rem(40);
		padding-inline: rem(20);

        @include md{
            padding-inline: rem(15);
            padding-block-end: rem(15);
        }
	}

	&__title {
		font-weight: 500;
		font-size: rem(18);

		margin-bottom: rem(20);

        @include md{
            font-size: rem(16);
            margin-bottom: rem(10);
        }
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(10);
        @include md{
            gap: rem(5);
        }

		li a {
			font-size: rem(16);
			color: var(--text);
			transition: color 0.3s ease-in-out;

            @include md{
                font-size: rem(14);
            }

			&:hover {
				color: var(--accent);               
			}
		}
	}
}
