/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS (НЕКОТОРЫЕ БАЗОВЫЕ СТИЛИ КОМПОНЕНТОВ) 
--------------------------------------------------------------------------------------------------------------------------------*/

.section,
.section-topnull {
	padding-block: rem(35);

	@include sm {
		padding-block: rem(30);
	}

	// простой заголовок
	&-header {
		margin-bottom: rem(45);
		@include sm {
			margin-bottom: rem(25);
		}
		&__title {
			font-weight: 500;
			font-size: rem(30);
			@include sm {
				font-size: rem(24);
			}
		}
	}
	// заголовок для флекс
	&-flexheader {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: 24px;

		&__title {
			font-weight: 500;
			font-size: rem(30);
			color: var(--text);

			@include md {
				font-size: rem(24);
			}
		}
	}
}
.section-topnull {
	padding-block-start: 0;
	@include sm {
		padding-block-start: 0;
	}
}

/* --------------------------------------------------------------- CATALOG BUTTON --------------------------------------------------------------------*/
.btn-catalog {
	display: flex;
	align-items: center;
	gap: rem(13);

	padding-inline: rem(20);
	min-height: rem(44);

	background: var(--red);

	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	@include sm {
		min-height: rem(36);
		width: rem(36);
		padding-inline: 0;
		justify-content: center;
	}

	/* --------------------------------------------------------------- BURGER BUTTON --------------------------------------------------------------------*/
	&__burger {
		position: relative;
		display: inline-block;

		width: rem(20);
		height: rem(13);

		flex-shrink: 0;

		cursor: pointer;

		span,
		&::before,
		&::after {
			display: block;
			content: "";
			transition: var(--transition);
			position: absolute;
			left: 0;
			width: 100%;
			height: 1.5px;
			background-color: var(--white);
			border-radius: rem(10);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-65%);
		}
		&.active span {
			width: 0;
		}
		&.active::before {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
		&.active::after {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg);
		}
	}

	// NAME
	&__name {
		font-weight: 500;
		font-size: rem(18);
		color: var(--white);
	}
}

/* --------------------------------------------------------------- SEARCH FORM --------------------------------------------------------------------*/
.search-form,
.filter-search-form {
	display: flex;
	justify-content: space-between;

	padding-inline: rem(18);
	min-height: rem(44);
	background-color: var(--white);

	flex-grow: 1;

	&__input {
		font-weight: 400;
		font-size: rem(15);

		&::placeholder {
			color: rgba(47, 47, 47, 0.5);
		}
	}

	&__button {
		transform: translateY(5%);

		transition: var(--transition);

		&:hover {
			transform: translateY(5%) scale(1.1);
		}
		svg {
			width: rem(19);
			height: rem(20);
		}
	}
}
.search-form {
	@include lg {
		display: none;
	}
}
.filter-search-form {
	border: 1px solid #dedede;
}

.exp-catalog .search-form {
	display: flex !important;
}

/* --------------------------------------------------------------- LOGIN BUTTON --------------------------------------------------------------------*/
.btn-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	height: rem(48);

	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	svg {
		width: rem(26);
		height: rem(26);
	}

	@include sm {
		height: rem(32);
		svg {
			width: rem(16);
			height: rem(16);
		}
	}

	span {
		display: block;
		font-weight: 400;
		font-size: rem(14);
		color: var(--white);
		line-height: 80%;
		margin-bottom: 3px;

		@include sm {
			margin-bottom: 0;
			font-size: rem(10);
		}
	}
}

/* --------------------------------------------------------------- RED RECTANAGLE BUTTON --------------------------------------------------------------------*/

.btn-redrect {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding-inline: rem(46);
	min-height: rem(53);

	background-color: transparent;
	border: 2px var(--red) solid;

	font-weight: 500;
	font-size: rem(18);
	line-height: 122%;
	color: #2f2f2f;

	transition: var(--transition);

	&:hover {
		color: var(--white);
		background-color: var(--red);
	}

	@include sm {
		font-size: rem(14);
		min-height: rem(48);
		display: flex;
		justify-content: center;
	}
}

/* --------------------------------------------------------------- LOGIN WITH BUTTON --------------------------------------------------------------------*/

.btn-loginwith {
	display: inline-flex;
	align-items: center;
	gap: 13px;

	margin-inline: auto;

	font-weight: 400;
	font-size: 14px;
	color: #2f2f2f;
	@include sm {
		font-size: 12px;
		gap: 11px;
	}

	transition: all 0.1s ease-in-out;

	svg {
		aspect-ratio: 24/20;
		width: 24px;

		@include sm {
			width: 18px;
		}
	}

	&:hover {
		text-decoration: underline;
	}
}

/* --------------------------------------------------------------- LANGUAGE SWITCHER --------------------------------------------------------------------*/
.lang-switcher {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: rem(48);
	transition: var(--transition);

	&:hover {
		filter: var(--filter);
	}

	&__icon {
		border-radius: rem(5);
		overflow: hidden;

		width: rem(34);
		height: rem(24);
	}

	svg {
		width: rem(34);
		height: rem(24);
	}
	@include sm {
		display: none;
		height: rem(32);

		svg {
			width: rem(25);
			height: rem(16);
		}
	}
	&__name {
		display: block;
		font-weight: 400;
		font-size: rem(14);
		color: var(--white);
		line-height: 80%;
		margin-bottom: 3px;

		@include sm {
			margin-bottom: 0;
			font-size: rem(10);
		}
	}
}

/* --------------------------------------------------------------- ACCENT BUTTON --------------------------------------------------------------------*/

.btn-accent {
	display: inline-flex;
	align-items: center;
	padding-inline: rem(46);
	min-height: rem(42);

	background-color: var(--accent);

	font-weight: 500;
	font-size: rem(15);
	line-height: 122%;
	color: var(--white);

	transition: var(--transition);
	
	&--max493 {
		display: flex;
		min-width: 493px;
		justify-content: center;
		margin-inline: auto;
		margin-top: 20px;
		min-height: 53px;
		font-size: 18px;

		@include md{
			min-width: initial;
			width: 100%;
		}
	}

	&:hover {
		filter: var(--filter);
	}

	@include sm {
		font-size: rem(14);
		min-height: rem(45);
		display: flex;
		justify-content: center;
	}
}

/* --------------------------------------------------------------- aside lines word --------------------------------------------------------------------*/

/* Общий контейнер для центрирования */
.lines-word {
	display: flex;
	justify-content: center; /* Центр по горизонтали */
}

/* Основной элемент */
.lines-word__element {
	display: flex;
	align-items: center; /* Вертикальное выравнивание */
}

/* Полосы по бокам */
.lines-word__line {
	width: 50px; /* ширина полосы */
	height: 1px; /* высота полосы, например, 4px */
	background-color: rgba(47, 47, 47, 0.3);
	margin: 0 15px; /* отступы слева и справа от полосы */
}

/* Само слово с отступами */
.lines-word__word {
	background-color: transparent; /* можно добавить фон, если нужно */
	font-weight: 400;
	font-size: 14px;
	color: #2f2f2f;

	@include sm {
		font-size: 12px;
	}
}

/* --------------------------------------------------------------- Search orderby --------------------------------------------------------------------*/

.exp-search-orderby {
	&__row {
		display: inline-flex;
		align-items: center;
		gap: 3px;
	}

	&__button {
		width: rem(24);
		height: rem(24);
		@include md {
			width: rem(16);
			height: rem(16);
		}

		svg {
			aspect-ratio: 1/1;
			width: 100%;
		}
	}
	&__select {
		width: 100%;
		font-weight: 400;
		font-size: rem(16);
		color: var(--text);
		cursor: pointer;

		@include md {
			font-size: rem(12);
		}
	}
}

/* --------------------------------------------------------------- Breadcrumbs --------------------------------------------------------------------*/
.exp-breadcrumbs {
	&__list {
		padding-block-start: rem(10);
		padding-block-end: rem(10);

		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 6px;

		.bread-sep {
			padding-left: 6px;
		}

		li,
		li span,
		li a {
			line-height: 1.37;
			color: var(--text);
			font-size: 13px;
			transition: color 0.3s ease-in-out;

			@include sm {
				font-size: 10px;
			}

			opacity: 0.7;
		}

		li a:hover {
			color: var(--accent);
			// text-decoration: underline;
		}
	}
}

/* --------------------------------------------------------------- pagination --------------------------------------------------------------------*/

.exp-pagination {
	display: inline-flex;
	align-items: center;
	gap: rem(8);

	margin-bottom: rem(35);

	@include sm {
		gap: rem(6);
	}

	&__ellipsis {
		width: rem(45);
		height: rem(45);
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: rem(16);
		line-height: 138%;
		opacity: 0.5;

		@include sm {
			font-size: rem(12);
			width: rem(35);
			height: rem(35);
		}
	}

	&__link {
		color: var(--text);
		width: rem(45);
		height: rem(45);
		background-color: #f6f6f6;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: rem(16);
		color: rgba(47, 47, 47, 0.5);

		background-repeat: no-repeat;
		background-size: 50%;
		background-position: center;

		transition: all 0.3s ease-in-out;

		@include sm {
			width: rem(35);
			height: rem(35);

			font-size: rem(12);
		}

		&:hover {
			background-color: var(--accent);
			opacity: 0.75;
			color: var(--white);
		}

		&--active {
			color: var(--white);
			background-color: var(--accent);
		}

		&--prev {
			background-color: transparent;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOS41NzAzMSA2LjQzMDA1TDMuNTAwMzEgMTIuNTAwMUw5LjU3MDMxIDE4LjU3MDEiIHN0cm9rZT0iIzJGMkYyRiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPgogIDxwYXRoIGQ9Ik0yMC41IDEyLjVIMy42NyIgc3Ryb2tlPSIjMkYyRjJGIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPgo=");
			transition: transform 0.3s ease-in-out;

			&:hover {
				transform: scale(1.4);
				opacity: 1;
				color: var(--text);
				background-color: transparent;
			}
		}

		&--next {
			background-color: transparent;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTQuNDI5NyA2LjQzMDA1TDIwLjQ5OTcgMTIuNTAwMUwxNC40Mjk3IDE4LjU3MDEiIHN0cm9rZT0iIzJGMkYyRiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPgogIDxwYXRoIGQ9Ik0zLjUgMTIuNUgyMC4zMyIgc3Ryb2tlPSIjMkYyRjJGIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPgo=");
			transition: transform 0.3s ease-in-out;
			&:hover {
				transform: scale(1.4);
				opacity: 1;
				color: var(--text);
				background-color: transparent;
			}
		}

		&--disabled {
			opacity: 0.5 !important;
			transform: scale(1) !important;
		}
	}
}

/*-------------------------------------------- Rating ----------------------------------------------------*/
[class*="__rating"] {
	display: inline-flex;
	align-items: center;
	gap: rem(8);

	.rating {
		&-num {
			font-weight: 500;
			font-size: rem(18);
			color: var(--text);
			@include sm {
				font-size: rem(12);
			}
		}

		&-stars {
			display: flex;
			align-items: center;
			gap: 3px;

			&__item {
				display: flex;
				align-items: center;
				svg {
					fill: #f7c74d;
					stroke: #f7c74d;
					width: rem(16);
					height: rem(16);

					@include sm {
						width: rem(12);
						height: rem(12);
					}

					transition: all 0.3s ease-in-out;
				}
			}
		}
		&-reviews {
			font-weight: 400;
			font-size: rem(16);
			color: var(--text);
			opacity: 0.5;

			@include sm {
				font-size: rem(10);
			}

			&:before {
				content: "•";
				padding-right: rem(5);
			}
		}
	}
}
/*-------------------------------------------- Listok ----------------------------------------------------*/
[class*="__listok"] {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 4px;
	@include sm {
		gap: 13px;
	}
	li {
		font-weight: 400;
		font-size: rem(16);
		color: var(--text);
		opacity: 0.7;

		display: flex;
		align-items: baseline;

		@include sm {
			font-size: rem(10);
		}

		.dashed {
			flex: 1; /* занимает всё пространство между текстами */
			border-bottom: 2px dashed rgb(47, 47, 47, 0.2); /* штрих по базовой линии */
			height: 0; /* чтобы линия шла по базовой линии текста */
			align-self: baseline; /* по базовой линии */
			@include sm {
				border-bottom: 2px dashed rgb(47, 47, 47, 0.2); /* штрих по базовой линии */
			}
		}
	}
}

/*-------------------------------------------- Listok ----------------------------------------------------*/
.delivery-card {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(47, 47, 47, 0.1);
	padding: 17px rem(20) 15px rem(20);

	@include sm {
		padding-inline: rem(10);
		padding-block-start: rem(10);
		padding-block-end: rem(15);
	}

	color: var(--text);
	transition: all 0.3s ease-in-out;

	&:hover {
		border: 1px solid rgb(0, 71, 186, 0.25);
		background-color: #f6f6f6;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: rem(10);

		padding-bottom: 9px;
		border-bottom: 1px solid rgba(47, 47, 47, 0.1);

		@include sm {
			padding-bottom: rem(10);
		}
	}

	&__icon {
		margin-top: rem(4);
		aspect-ratio: 1/1;
		width: 31px;

		@include sm {
			width: 25px;
		}

		svg {
			fill: transparent;
			stroke: var(--accent);
			stroke-width: 2px;
			width: 100%;
			aspect-ratio: 1/1;
		}
	}

	&__address {
		font-size: rem(18);
		line-height: 120%;

		@include sm {
			font-size: rem(12);
		}
	}
	&__caption {
		font-size: rem(14);
		opacity: 0.5;
		line-height: 120%;

		@include sm {
			font-size: rem(10);
		}
	}

	&__list {
		padding-top: rem(10);
		padding-left: 42px;
		@include sm {
			padding-left: rem(25);
		}

		li {
			font-size: rem(18);
			@include sm {
				font-size: rem(12);
			}
		}
	}
}

/*-------------------------------------------- Rating ----------------------------------------------------*/
.custom-radio,
.custom-checkbox {
	flex-shrink: 0;
	appearance: none;

	border: 1px solid transparent;

	width: 24px;
	height: 24px;
	background-color: #dedede;

	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:checked {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNNS4xNjQxMiA5LjYxNTU0QzQuOTA1NTMgOS42MTU1NCA0LjY1OTg3IDkuNTEyNTEgNC40Nzg4NSA5LjMzMjIxTDAuODE5NzkyIDUuNjg3NTVDMC40NDQ4MzUgNS4zMTQwNyAwLjQ0NDgzNSA0LjY5NTg5IDAuODE5NzkyIDQuMzIyNDFDMS4xOTQ3NSAzLjk0ODkzIDEuODE1MzcgMy45NDg5MyAyLjE5MDMyIDQuMzIyNDFMNS4xNjQxMiA3LjI4NDVMMTEuODA5OSAwLjY2NDg3NkMxMi4xODQ5IDAuMjkxMzk1IDEyLjgwNTUgMC4yOTEzOTUgMTMuMTgwNCAwLjY2NDg3NkMxMy41NTU0IDEuMDM4MzYgMTMuNTU1NCAxLjY1NjUzIDEzLjE4MDQgMi4wMzAwMUw1Ljg0OTM4IDkuMzMyMjFDNS42NjgzNyA5LjUxMjUxIDUuNDIyNzEgOS42MTU1NCA1LjE2NDEyIDkuNjE1NTRaIiBmaWxsPSJ3aGl0ZSIgLz4KPC9zdmc+Cg==");
		background-repeat: no-repeat;
		background-size: 62%;
		background-position: center center;
		background-color: var(--red) !important;
	}
	&:hover {
		filter: brightness(0.95);
	}
	&:active {
		outline: 2px solid var(--red);
	}
}

/* --------------------------------------------------------------- GRAY BUTTON --------------------------------------------------------------------*/

.btn-gray {
	color: #2f2f2f;

	display: inline-flex;
	align-items: center;
	padding-inline: 15px;
	min-height: rem(46);

	background: #f6f6f6;

	font-weight: 500;
	font-size: 16px;

	transition: var(--transition);

	&:hover {
		filter: brightness(0.95);
	}
	&--active:hover,
	&.active:hover {
		filter: initial !important;
	}

	&--active,
	&.active {
		background: var(--accent);
		color: var(--white);
	}

	@include sm {
		font-size: rem(12);
		min-height: rem(42);
		padding-inline: 12px;
	}
}

/* --------------------------------------------------------------- BUTTONS SLIDER --------------------------------------------------------------------*/

.buttons-slider {
	display: inline-flex;
	gap: 14px;
	flex-wrap: nowrap;
	& > * {
		flex-shrink: 0;
	}
	overflow-x: auto; /* или overflow: auto; если есть вертикальный скролл */
	scrollbar-width: none; /* Для Firefox */
	-ms-overflow-style: none; /* Для IE и Edge */

	&::-webkit-scrollbar {
		display: none;
	}
}

/*------------------------------------------------------- Media Load ----------------------------------------------------*/

.mediaload {
	display: flex;
	flex-direction: column;
	gap: 9px;

	&-preview {
		display: flex;
		align-items: center;
		gap: 13px;
	}

	&-button {
		position: relative;
		overflow: hidden;
		width: 100%;

		aspect-ratio: 159/114;
		background-color: var(--white);
		transition: all 0.3s ease-in-out;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid rgb(47, 47, 247, 0.5);
			svg {
				stroke: var(--accent);
			}
		}

		svg {
			transition: all 0.3s ease-in-out;
			stroke: var(--text);

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 57px;
			aspect-ratio: 1/1;
			z-index: 2;
		}

		img {
			z-index: 1;

			display: block;
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			object-fit: cover;
			block-size: 100%;
			inline-size: 100%;
		}
	}
}

/*------------------------------------------------------- Upload gallery ----------------------------------------------------*/
.upload-gallery {
	&__image {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: start;
		overflow: hidden;

		height: 100%;
		background-color: var(--white);
		overflow: hidden;
		cursor: pointer;

		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: rgb(0, 0, 0, 0.1);
			&:before {
				transform: scale(1.05) translate(-48%, -48%);
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 21.2%;
			aspect-ratio: 1/1;
			background-image: url("../../icons/account-placeholder.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			transform: translate(-50%, -50%);

			transition: all 0.3s ease-in-out;
		}

		img {
			height: 100%;
			width: auto;
			max-width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center center;
			object-position: center center;
			z-index: 1;
		}
	}
	&__thumbnails {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 0;

		margin-left: -6px;
		margin-right: -6px;

		align-items: start;
	}
	&__col {
		width: 33.33%;
		padding-right: 6px;
		padding-left: 6px;
	}

	&__thumb {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		aspect-ratio: 130/96;

		background-color: var(--white);
			transition: all 0.3s ease-in-out;

		&.up-access {
			&:hover {
				background-color: rgb(0, 0, 0, 0.1);
				cursor: pointer;
				&:before {
					display: block;
				}
			}
		}

		&:before {
			display: none;

			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 21.2%;
			aspect-ratio: 1/1;
			background-image: url("../../icons/account-placeholder.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			transform: translate(-50%, -50%);

			z-index: 1;
		}

		img {
			height: 100%;
			width: auto;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center center;
			object-position: center center;
			z-index: 1;
		}
	}
}
