/* ------------------------------------------------------------------------------------------------------------------------------
expirience form
--------------------------------------------------------------------------------------------------------------------------------*/
.expirience-form {
	padding: rem(30);
	background: #f6f6f6;

	display: flex;
	flex-direction: column;
	gap: rem(10);

	margin-bottom: rem(15);
	@include sm {
		margin-bottom: rem(30);
		padding: rem(20);
	}

	&__title {
		font-weight: 500;
		font-size: rem(24);

		margin-bottom: rem(10);
		line-height: 130%;
		text-align: center;

		@include sm {
			font-size: rem(18);
			margin-bottom: rem(5);
		}
	}

	&__rating {
		margin-inline: auto;

		margin-bottom: rem(20);
		gap: rem(5);

		@include sm {
			margin-bottom: rem(10);
			gap: rem(3);
		}

		.rating-stars {
			&__item {
				opacity: 0.5;
				transition: opacity 0.3s ease-in-out;
				cursor: pointer;
				&.filled{
					opacity: 1;
				}
				svg {
					width: rem(36);
					height: rem(36);
					@include sm {
						width: rem(23);
						height: rem(23);
					}
				}
			}
		}
	}

	&__textarea {
		border: 1px solid rgba(47, 47, 47, 0.2);
		padding: rem(15);
		min-height: rem(140);
		color: var(--text);
		background-color: transparent;

		resize: none;

		@include sm {
			font-size: rem(12);
			min-height: rem(101);
		}
		font-weight: 400;
		font-size: rem(16);
		&::placeholder {
			color: rgba(47, 47, 47, 0.5);
		}
	}

	&__label {
		cursor: pointer;

		display: flex;
		align-items: center;
		gap: 5px;

		&:hover {
			text-decoration: none;
		}

		svg {
			width: rem(20);
			height: rem(20);
		}

		font-weight: 500;
		font-size: rem(13);
		text-decoration: underline;
		text-decoration-skip-ink: none;

		padding-top: 3px;
		padding-bottom: 8px;

		@include sm {
			font-size: rem(12);
		}
	}

	.btn-accent {
		min-height: rem(54);
		font-size: rem(18);
		justify-content: center;
		@include sm {
			min-height: rem(48);
			font-size: rem(14);
		}
	}
}
