.xxl-v {
	display: none;
	@media (min-width: 1350px) {
		display: block;
	}
}
.mb-7 {
	margin-bottom: 7px;
}
.fpl-15{
	padding-left: 15px;
}
.sm-hidden{
	@include sm{
		display: none;
	}
}
.sm-visible{
	display: none;
	@include sm{
		display: flex;
	}
}

.md-visible{
	display: none;
	@include md{
		display: flex;
	}
}

// sm 8px
.g-sm-8,
.gx-sm-8 {
	@media (max-width: 576px) {
		--bs-gutter-x: 8px;
	}
}
.g-sm-8,
.gy-sm-8 {
	@media (max-width: 576px) {
		--bs-gutter-y: 8px;
	}
}

// sm 10px
.g-sm-10,
.gx-sm-10 {
	@media (max-width: 576px) {
		--bs-gutter-x: 10px;
	}
}
.g-sm-10,
.gy-sm-10 {
	@media (max-width: 576px) {
		--bs-gutter-y: 10px;
	}
}

// sm 40px
.g-sm-40,
.gx-sm-40 {
	@media (max-width: 576px) {
		--bs-gutter-x: 44px;
	}
}
.g-sm-40,
.gy-sm-40 {
	@media (max-width: 576px) {
		--bs-gutter-y: 44px;
	}
}

// lg 30px
.g-lg-30,
.gx-lg-30 {
	@media (max-width: 992px) {
		--bs-gutter-x: 30px;
	}
}
.g-lg-30,
.gy-lg-30 {
	@media (max-width: 992px) {
		--bs-gutter-y: 30px;
	}
}

// 2xl 30px
.g-2xl-40,
.gx-2xl-40 {
	@media (max-width: 1400px) {
		--bs-gutter-x: 40px;
	}
}
.g-2xl-40,
.gy-2xl-40 {
	@media (max-width: 1400px) {
		--bs-gutter-y: 40px;
	}
}
// 14
.g-md-14,
.gy-md-14 {
	@media (max-width: 768px) {
		--bs-gutter-y: 14px;
	}
}
.g-md-14,
.gx-md-14 {
	@media (max-width: 768px) {
		--bs-gutter-x: 14px;
	}
}

// 9
.g-9,
.gy-9 {
	--bs-gutter-y: 9px;
}
.g-9,
.gx-9 {
	--bs-gutter-x: 9px;
}

// 10
.g-10,
.gy-10 {
	--bs-gutter-y: 10px;
}
.g-10,
.gx-10 {
	--bs-gutter-x: 10px;
}


// 11
.g-11,
.gy-11 {
	--bs-gutter-y: 11px;
}
.g-11,
.gx-11 {
	--bs-gutter-x: 11px;
}

// 13
.g-13,
.gy-13 {
	--bs-gutter-y: 13px;
}
.g-13,
.gx-13 {
	--bs-gutter-x: 13px;
}

// 14
.g-14,
.gy-14 {
	--bs-gutter-y: 14px;
}
.g-14,
.gx-14 {
	--bs-gutter-x: 14px;
}


// 20
.g-20,
.gy-20 {
	--bs-gutter-y: 20px;
}
.g-20,
.gx-20 {
	--bs-gutter-x: 20px;
}

// 25
.g-25,
.gy-25 {
	--bs-gutter-y: 25px;
}
.g-25,
.gx-25 {
	--bs-gutter-x: 25px;
}

// 30
.g-30,
.gy-30 {
	--bs-gutter-y: 30px;
}
.g-30,
.gx-30 {
	--bs-gutter-x: 30px;
}

// 31
.g-31,
.gy-31 {
	--bs-gutter-y: 31px;
}
.g-31,
.gx-31 {
	--bs-gutter-x: 31px;
}

// 32
.g-32,
.gy-32 {
	--bs-gutter-y: 32px;
}
.g-32,
.gx-32 {
	--bs-gutter-x: 32px;
}

// 40
.g-40,
.gy-40 {
	--bs-gutter-y: 40px;
}
.g-40,
.gx-40 {
	--bs-gutter-x: 40px;
}

// 50
.g-50,
.gy-50 {
	--bs-gutter-y: 50px;
}
.g-50,
.gx-50 {
	--bs-gutter-x: 50px;
}

// 65
.g-65,
.gy-65 {
	--bs-gutter-y: 65px;
}
.g-65,
.gx-65 {
	--bs-gutter-x: 65px;
}

// 97
.g-97,
.gy-97 {
	--bs-gutter-y: 97px;
}
.g-97,
.gx-97 {
	--bs-gutter-x: 97px;
}

// 100
.g-100,
.gy-100 {
	--bs-gutter-y: 100px;
}
.g-100,
.gx-100 {
	--bs-gutter-x: 100px;
}
