/* ------------------------------------------------------------------------------------------------------------------------------
INNER SVG STYLES FOR SOICAL ICONS (СТИЛИЗАЦИЯ ИКОНОК В ФУТЕРЕ)
--------------------------------------------------------------------------------------------------------------------------------*/

// wechat
.soc-wechat-char-1 {
	fill: white;
}
.soc-wechat-char-2 {
	fill: white;
	@include md {
		fill: #dedede;
	}
}
.soc-wechat-eye-1 {
	fill: var(--wechat);
	@include md {
		fill: var(--red);
	}
}
.soc-wechat-eye-2 {
	fill: var(--wechat);
	@include md {
		fill: var(--red);
	}
}

// tg
.soc-tg-char {
	fill: white;
}

// vk
.soc-vk-char {
	fill: var(--vk);
	@include md {
		fill: var(--red);
	}
}
.soc-vk-tile {
	fill: white;
}

// whatsapp
.soc-whatsapp-char {
	fill: white;
}

// max
.soc-max-char {	
    fill: white;
	@include md {
        fill: var(--red);
		
	}
}
.soc-max-tile {
	fill: transparent;
	@include md {
		fill: white;
	}
}
