/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.front-page {
	.header {
		@include sm {
			.lang-switcher {
				display: none;
			}
		}
	}
}

.header {		
	z-index: 1010;
	background-color: var(--white);	
	position: sticky;
	top: 0;
	
	

	// TOP LINE
	&__top {
		min-height: rem(35);
		background-color: var(--white);
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include sm {
			min-height: rem(20);
		}
	}

	// TOP LINE - NAVIGATION
	&__nav {
		ul {
			display: inline-flex;
			align-items: start;
			gap: rem(40);

			@include sm {
				gap: rem(15);
			}
		}
	}

	// TOP LINE - LINK
	&__link {
		font-weight: 500;
		font-size: rem(14);
		color: rgba(47, 47, 47, 0.7);
		transition: var(--transition);

		&:hover {
			color: var(--accent);
		}

		@include sm {
			font-size: rem(10);
		}
	}

	// TOP LINE - CONTACTS
	&__contacts {
		a {
			font-weight: 500;
			font-size: rem(16);
			color: #2f2f2f;

			@include sm {
				font-size: rem(10);
			}
		}
	}

	// Medium
	&__medium {
		position: relative;
		min-height: rem(82);
		background-color: var(--accent);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(40);

		@include sm{
			gap: rem(20);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -110vw;
			width: 111vw;
			height: 100%;
			background-color: var(--accent);
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -110vw;
			width: 111vw;
			height: 100%;
			background-color: var(--accent);
			z-index: -1;
		}

		@include sm {
			min-height: rem(59);
		}
	}

	// BOTTOM LOGO
	&__logo {
		display: block;
		width: rem(234);
		flex-shrink: 0;

		transition: var(--transition);

		&:hover {
			filter: var(--filter);
		}

		@include lg {
			width: rem(152);
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			overflow: hidden;
		}
	}

	// BOTTOM ROW
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(25);

		flex-grow: 1;

		@include lg {
			justify-content: flex-end;
		}

		&-group {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem(10);

			flex-grow: 1;
			order: 1;

			@include lg {
				flex-grow: 0;
				order: 3;
			}
		}

		.btn-catalog {
			&__name {
				@include lg {
					display: none;
				}
			}
		}

		.btn-login {
			order: 2;
			@include lg {
				order: 1;
			}
		}

		.lang-switcher {
			order: 3;
			@include lg {
				order: 2;
			}
		}
	}
}
