/* ------------------------------------------------------------------------------------------------------------------------------
POPULAR PRODUCTS SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.popularprod {
	color: var(--text);

	&.section {
		@include sm {
			padding-block-start: rem(30);
		}
	}

	.section-flexheader {
		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: rem(30);

		@include sm {
			padding-block-end: rem(40);
		}
	}

	&__header-group {
		display: flex;
		align-items: center;
		justify-content: space-between;

		flex-grow: 1;
		@include sm{
			gap: rem(14);
			flex-grow: 0;

			.btn-accent {						
			width: 100%;
		}
		}
		
	}
	/* Убираем overflow у обертки слайдов */
	.swiper-wrapper {
		overflow: visible !important;
	}

	/* Если нужно убрать у контейнера */
	.swiper {
		overflow: visible !important;
	}

	&__sm-navigation {
		@include md {
			margin-top: rem(35);
		}
		@include sm{
			margin-top: rem(28);
		}
	}
}
