/* ------------------------------------------------------------------------------------------------------------------------------
PRODUCT SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.product {
	.product-block-title {
		font-weight: 500;
		font-size: rem(24);

		margin-bottom: 15px;

		@include sm {
			font-size: rem(18);
			margin-bottom: rem(10);
		}
	}
	.product-block-bigtitle {
		font-weight: 500;
		font-size: rem(30);

		padding-block-start: rem(50);
		@include sm {
			padding-block-start: rem(55);
		}

		margin-bottom: rem(30);
		@include sm {
			font-size: rem(24);
			margin-bottom: rem(20);
		}
	}
	.product-info .product-block-title {
		padding-top: 3px;
		margin-bottom: 15px;
	}

	&__row {
		display: flex;
		margin-inline-start: rem(-20);
		margin-inline-end: rem(-20);

		&:first-child {
			padding-block-start: rem(40);
			padding-block-end: rem(20);
		}

		@include md {
			&:first-child {
				padding-block-start: rem(20);
				padding-block-end: rem(30);
			}

			flex-wrap: wrap;
		}
	}
	&__column-1 {
		flex-shrink: 0;
		width: 58%;
		padding-inline: rem(20);

		@include md {
			width: 100%;
		}
	}

	&__column-2 {
		width: 42%;
		padding-inline: rem(20);

		@include md {
			width: 100%;
		}
	}

	/* ------------------------------------------------------------------------------------------------------------------------------
GALLERY
--------------------------------------------------------------------------------------------------------------------------------*/

	&-gallery {
		margin-bottom: rem(20);

		@include sm {
			margin-bottom: 0;
		}

		&__full,
		&__thumbnails {
			img {
				height: 100%; /* растягиваем изображение по высоте контейнера */
				width: auto; /* сохраняем пропорции изображения по ширине */
				max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
				object-fit: cover;
				object-position: center center;
			}
		}

		&__full {
			img {
				transition: transform 0.2s ease; /* плавное смещение */
				will-change: transform; /* оптимизация для transform */
			}
			a {
				position: relative;
				display: flex;
				justify-content: center; /* по горизонтали */
				align-items: center; /* по вертикали */
				overflow: hidden;
				aspect-ratio: 720/390;
				&:hover {
					cursor: url("../../icons/search-gallery.svg"), auto;
				}
				@media (max-width: 441px) {
					aspect-ratio: 320/340;
				}
				@include sm {
					min-height: 340px;
				}
			}
			margin-bottom: rem(10);

			@include sm {
				margin-bottom: rem(10);
			}
		}
		&__thumbnails {
			.swiper-slide a {
				display: flex;
				justify-content: center; /* по горизонтали */
				align-items: center; /* по вертикали */
				aspect-ratio: 172/110;
				overflow: hidden;

				&:hover {
					cursor: url("../../icons/search-gallery.svg"), auto;
				}

				@media (max-width: 441px) {
					aspect-ratio: 74/66;
				}
			}

			margin-bottom: 15px;
		}

		.navigation-group__arrows {
			min-height: 20px;
			@include sm {
				display: none;
			}
		}
	}

	/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
	&-header {
		margin-bottom: 10px;

		@include sm {
			margin-bottom: 0;
		}

		display: flex;
		flex-direction: column;
		gap: 12px;

		&__title {
			order: 1;
			@include lg {
				font-size: 26px;
			}
			@include sm {
				font-size: 22px;
				order: 2;
			}
			font-weight: 500;
			font-size: 30px;
			line-height: 137%;
			color: var(--text);
		}

		&__rating {
			order: 2;
			@include sm {
				margin-bottom: -15px;
				order: 1;
			}
		}

		&__price {
			order: 3;
			@include sm {
				margin-bottom: 0;
				flex-direction: column;
				gap: 0;
				order: 3;
			}
			display: inline-flex;
			align-items: baseline;
			flex-wrap: wrap;

			margin-bottom: 7px;

			gap: 0 10px;

			.price-wrap {
				order: 1;
				@include sm {
					gap: 10px;
					order: 2;
				}
				display: flex;
				align-items: baseline;
				gap: 15px;

				.price-all {
					font-weight: 500;
					font-size: 26px;
					color: var(--text);

					@include sm {
						font-size: 20px;
					}
				}
				.price-strike {
					font-weight: 400;
					font-size: 18px;
					text-decoration: line-through;
					color: var(--text);
					opacity: 0.5;

					@include sm {
						font-size: 12px;
					}
				}
			}

			.price-akcia {
				order: 2;
				@include sm {
					font-size: 10px;
					order: 1;
				}

				font-weight: 500;
				font-size: 16px;
				color: var(--red);
			}
		}

		&__request {
			order: 4;
			@include sm {
				order: 4;
				.btn-accent {
					min-height: 48px;
					font-size: 14px;
				}
				gap: 5px;
			}
			display: flex;
			gap: 15px;

			.btn-accent:nth-of-type(1) {
				flex: 1;
				justify-content: center;
				font-size: 18px;
			}

			.btn-accent:nth-of-type(2) {
				flex-shrink: 0;

				padding-inline: 0;
				aspect-ratio: 1/1;
				width: 54px;

				@include sm {
					width: 48px;
				}

				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				&.active {
					svg {
						stroke: var(--red);
						fill: var(--red);
					}
				}

				svg {
					width: 50%;
					fill: transparent;
					stroke: var(--white);
				}
			}

			margin-bottom: rem(5);
		}
		&__listok {
			order: 5;
			@include sm {
				order: 5;
			}
		}
	}

	/* ------------------------------------------------------------------------------------------------------------------------------
CHARACKTERS
--------------------------------------------------------------------------------------------------------------------------------*/

	&-characters {
		color: var(--text);
		margin-bottom: 20px;

		@include sm {
			margin-bottom: 30px;
		}

		&__listok {
			margin-bottom: 40px;

			@include sm {
				margin-bottom: 20px;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 135%;
			@include sm {
				font-size: 12px;
			}
			p {
				margin-bottom: 20px;
				@include sm {
					margin-bottom: 25px;
				}
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	/* ------------------------------------------------------------------------------------------------------------------------------
INFORMATION
--------------------------------------------------------------------------------------------------------------------------------*/
	&-info {
		&__provider {
			margin-bottom: 23px;
			@include sm {
				margin-bottom: 30px;
			}
		}
	}
	/* ------------------------------------------------------------------------------------------------------------------------------
REVIEWS
--------------------------------------------------------------------------------------------------------------------------------*/
	&-reviews {
		color: var(--text);
		padding-block-end: 35px;
		@include sm {
			padding-block-end: 25px;
		}

		&__item:not(:last-child) {
			margin-bottom: 20px;
			@include sm {
				margin-bottom: 12px;
			}
		}
	}
}
