/* ------------------------------------------------------------------------------------------------------------------------------
CATEGORY FILTER IN Section
--------------------------------------------------------------------------------------------------------------------------------*/
.filter-layout {
	display: flex;
	gap: 20px;	

	&__sidebar {
		position: relative;
		background: #f6f6f6;

		width: 30.2%;
		min-width: 270px;
		height: inherit;	

		@include md {
			width: 38%;
		}
	}
	&__content {
		max-width: calc(100% - 285px);
		width: 69.8%;
		height: 100%;

		@include md {
			width: 62%;
		}
	}
	&__adaptive {
		max-width: calc(100% - 285px);
		width: 69.8%;
		height: 100%;

		@include lg {
			max-width: 100%;
			width: 100%
		}
	}

	.exp-pagination {
		padding-top: 28px;
		margin-bottom: 36px;
	}
}

/* ------------------------------------------------ Filoetr content -----------------------------------------------------------------*/

.filter-content {
	&__buttons {
		padding-right: var(--container-padding-desktop);
		margin-bottom: 20px;
		width: calc(100% + var(--container-padding-desktop));
		margin-right: calc(0px - var(--container-padding-desktop));
		@include lg {
			padding-right: var(--container-padding-large);
			width: calc(100% + var(--container-padding-large));
			margin-right: calc(0px - var(--container-padding-large));
		}	
		@include sm {
			padding-right: var(--container-padding-small);
			width: calc(100% + var(--container-padding-small));
			margin-right: calc(0px - var(--container-padding-small));
		}
	}

	&__searchorderby {
		display: flex;
		align-items: center;
		gap: 22px;

		padding-top: 20px;
		margin-bottom: 33px;
	}

	&__vitrine {
		.product-card__header {
			aspect-ratio: 306/244;
		}

		.product-card__location {
			padding-top: 5px;
			margin-bottom: 5px;
		}
		.product-card__title {
			@media (max-width: 850px) {
				font-size: 16px;
			}
		}
		.product-card__price-old {
			@media (max-width: 850px) {
				font-size: 14px;
			}
		}
		.product-card__like {
			bottom: -1px;
			right: 4px;
			width: 26px;
			&.active {
				width: 23px;
			}
		}
	}
}

/* ------------------------------------------------ Filter sidebar -----------------------------------------------------------------*/
.filter-widget {
	position: sticky;
	top: 117px;
	@include sm{
		top: 82px;
	} 

	padding: 20px 25px;

	&__header {
		margin-bottom: 18px;
	}
}

.filter-header {
	display: inline-flex;
	align-items: center;
	gap: 13px;

	&__btn {
		padding-right: 3px;
		width: 24px;
		aspect-ratio: 1/1;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.17554;
		color: #000;
	}
}

.filter-form {
	color: #2f2f2f;

	display: flex;
	flex-direction: column;
	gap: 21px;

	&__group {
		display: inline-flex;
		gap: 13px;
		label {
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--accent);
			}
		}
	}

	&__price {
		margin-top: 7px;
		margin-left: 0px;
		margin-bottom: 23px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 18px;

		margin-bottom: 32px;
	}

	&__rangeinputs {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;

		margin-bottom: 25px;

		label {
			display: inline-flex;
			gap: 5px;
			width: 50%;

			background: #dedede;
			padding: 10px;

			min-height: 43px;
			color: rgba(47, 47, 47, 0.6);
		}
		input {
			background: #dedede;
			font-weight: 400;
			font-size: 16px;
			color: rgba(47, 47, 47, 0.6);
			width: 100%;

			&::placeholder {
				color: rgba(47, 47, 47, 0.6);
			}
		}
	}

	&__rangeslider {
		padding-left: 12px;
		padding-right: 12px;
	}

	.btn-accent {
		font-size: 15px;
		line-height: 1.22;
		font-size: var(--white);
		background: #e1251b;

		justify-content: center;
		span {
			opacity: 0.5;
		}
	}
}
