/* ------------------------------------------------------------------------------------------------------------------------------
Extra margins paddings for catalog
--------------------------------------------------------------------------------------------------------------------------------*/
.catalog {
	.category-in {
		margin-top: -3px;
	}
	.categorys{
		margin-top: -3px;
	}

	.popularprod {
		.section-flexheader {
			margin-bottom: 5px;
		}
	}
}
