/* ------------------------------------------------------------------------------------------------------------------------------
POPULAR CATEGORIES SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.popularcats {
	color: var(--white);

	&.section {
		@include sm {
			padding-block-start: rem(30);
		}
	}
	.section-flexheader{
		padding-bottom: 30px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 430fr 285fr 285fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"b1 b2 b3"
			"b1 b4 b4";
		gap: rem(10);

		&-item:nth-of-type(1) {
			grid-area: b1;
		}
		&-item:nth-of-type(2) {
			grid-area: b2;
		}
		&-item:nth-of-type(3) {
			grid-area: b3;
		}
		&-item:nth-of-type(4) {
			grid-area: b4;
		}

		@media (max-width: 800px) {
			grid-template-columns: 15fr 10fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				"b1 b2"
				"b1 b3"
				"b4 b4";
		}
		@media (max-width: 440px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				"b1 b1"
				"b2 b3"
				"b4 b4";
		}

		&-item {
			position: relative;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				overflow: hidden;

				@media (max-width: 440px) {
					aspect-ratio: 320/177;
				}
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 65%;

				backdrop-filter: blur(0px);
				background: linear-gradient(180deg, rgba(47, 47, 47, 0.92) 0%, rgba(47, 47, 47, 0) 100%);
			}
		}

		&-item:nth-of-type(1) {		

			.popularcats__morelink {
				background-color: var(--red);
				padding-inline: rem(36);
				min-height: rem(46);
				padding-top: 3px;

				margin-top: rem(5);
				font-size: 18px;

				@include sm {
					min-height: rem(41);
					font-size: rem(14);
				}

				&:hover {
					color: var(--white);
					filter: var(--filter);
					transform: none;
				}
				svg {
					display: none;
				}
			}
			.popularcats__position {
				padding-block: rem(45);
				padding-inline: rem(40);
				padding-right: 40%;

				@include xl {
					padding-block: rem(30);
					padding-inline: rem(30);
				}
				@include lg {
					padding-block: rem(20);
					padding-inline: rem(20);
				}

				@include sm {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-block: rem(20);
					padding-inline: rem(12);
				}
			}
		}

		&-item:nth-of-type(2) {
			@media (max-width: 440px) {
				.popular__position {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
			}
		}
	}
	&__position {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-block: rem(30);
		padding-inline: rem(30);

		overflow: hidden;
		z-index: 1;

		@include xl {
			padding-block: rem(20);
			padding-inline: rem(20);
		}
		@include lg {
			padding-block: rem(20);
			padding-inline: rem(12);
		}
	}

	&__title {
		font-weight: 500;
		font-size: rem(25.5);
		line-height: 122%;

		margin-bottom: rem(15);

		@include xl {
			line-height: 100%;
			font-size: rem(22);
		}

		@include lg {
			font-size: rem(19);
		}

		@include sm {
			line-height: 113%;
			font-size: rem(17);
		}
	}

	&__morelink {
		display: inline-flex;
		align-items: center;
		gap: rem(7);

		font-weight: 500;
		font-size: rem(15);
		line-height: 122%;

		color: var(--white);
		transition: var(--transition);

		@include lg {
			gap: rem(5);
			font-size: rem(14);
		}		

		&:hover {
			transform: translateX(7px) scale(1.1);
		}

		svg {
			transition: var(--transition);
			stroke: var(--white);
			width: rem(39);
			height: rem(19);

			@include sm {
				width: rem(24);
				height: rem(11);
			}
		}
	}

	.btn-accent {
		@include sm {
			margin-top: rem(22);
		}
	}
}
