/* ------------------------------------------------------------------------------------------------------------------------------
POPULAR CATEGORIES SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.popularcats {
	color: var(--white);

	&.section {
		@include sm {
			padding-block-start: rem(30);
		}
	}
	.section-flexheader {
		padding-bottom: 30px;
		@include sm {
			padding-bottom: 38px;
		}
	}

	.inrow{
		display: flex;
		gap: 10px;
	}

	.column-40 {
		width: 43%;
		height: inherit;

		@include md {
			width: 100%;
		}
	}

	.column-60 {
		width: 57%;
		height: inherit;
		@include md {
			width: 100%;
		}
	}

	&-item {
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
		overflow: hidden;
		img {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			object-fit: cover;
			block-size: 100%;
			inline-size: 100%;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 65%;

			backdrop-filter: blur(0px);
			background: linear-gradient(180deg, rgba(47, 47, 47, 0.92) 0%, rgba(47, 47, 47, 0) 100%);
		}

		&.item-1 {
			aspect-ratio: 540/400;
			@include md {
				aspect-ratio: 320/184;
			}

			.popularcats__position {
				padding-block: 41px;
				padding-inline: 40px;

				@include xl {
					max-width: 100%;
					padding-block: rem(30);
					padding-inline: rem(30);
				}
				@include lg {
					padding-block: rem(20);
					padding-inline: rem(20);
				}

				@include sm {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-block: rem(20);
					padding-inline: rem(12);
				}
			}
			.popularcats__title {
				max-width: 75%;
				font-size: 25.5px;
				margin-bottom: 26px;

				@include lg {
					font-size: 18px;
				}
			}

			.popularcats__morelink {
				background-color: var(--red);
				padding-inline: 38px;
				min-height: rem(46);
				padding-top: 3px;
				font-size: 18px;
				

				@include sm {
					padding-inline: 50px;
					min-height: rem(41);
					font-size: rem(14);
				}

				&:hover {
					color: var(--white);
					filter: var(--filter);
					transform: none;
				}
				svg {
					display: none;
				}
			}
		}

		&.item-2 {
			aspect-ratio: 353/194;
			@include md {
				aspect-ratio: 155/198;
			}
			.popularcats__title {
				margin-bottom: 5px;				
			}

			.popularcats__position {
				padding-block: 20px;
				padding-inline: 34px;

				display: flex;
				justify-content: end;
				flex-direction: column;

				@include xl {
				}
				@include lg {
				}

				@include sm {
				}
			}
		}

		&.item-3 {
			aspect-ratio: 353/194;
			@include md {
				aspect-ratio: 155/198;
			}
			.popularcats__title {
				margin-bottom: 7px;
			}

			.popularcats__position {
				padding-block: 21px;
				padding-inline: 32px;

				display: flex;
				justify-content: start;
				flex-direction: column;

				@include xl {
				}
				@include lg {
				}

				@include sm {
				}
			}
			.popularcats__title {
				letter-spacing: 0rem;
				font-size: 24px;

				@include lg {
					font-size: 19px;
				}
				@include sm {
					font-size: 17px;
				}
			}
		}

		&.item-4 {
			aspect-ratio: 718/194;
			@include md {
				aspect-ratio: 320/184;
			}
			.popularcats__title {
				margin-bottom: 6px;
			}

			.popularcats__position {
				padding-block: 32px;
				padding-inline: 32px;

				display: flex;
				justify-content: start;
				flex-direction: column;

				@include xl {
				}
				@include lg {
				}

				@include sm {
				}
			}
		}
	}
	&__position {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-block: rem(30);
		padding-inline: rem(30);

		z-index: 1;

		@include xl {
			padding-block: rem(20);
			padding-inline: rem(20);
		}
		@include lg {
			padding-block: rem(20);
			padding-inline: rem(12);
		}
	}

	&__title {
		font-weight: 500;
		font-size: rem(24);
		line-height: 122%;
		letter-spacing: 0.012rem;

		@include xl {
			line-height: 100%;
			font-size: rem(22);
		}

		@include lg {
			font-size: rem(18);
		}

		@include sm {
			line-height: 113%;			
		}
	}

	&__morelink {
		display: inline-flex;
		align-items: center;
		gap: rem(7);

		font-weight: 500;
		font-size: rem(15);
		line-height: 122%;

		color: var(--white);
		transition: var(--transition);

		@include lg {
			gap: rem(5);
			font-size: rem(14);
		}

		&:hover {
			transform: translateX(7px) scale(1.1);
		}

		svg {
			transition: var(--transition);
			stroke: var(--white);
			width: rem(39);
			height: rem(19);

			@include sm {
				width: rem(24);
				height: rem(11);
			}
		}
	}

	.btn-accent {
		@include sm {
			margin-top: rem(22);
		}
	}
}
