/* ------------------------------------------------------------------------------------------------------------------------------
Account layout
--------------------------------------------------------------------------------------------------------------------------------*/
.account-company{
	.account-layout{
		padding-top: 30px;

		@include sm{
			padding-top: 10px;
		}
	}
}

.account-layout {
	position: relative;
	display: flex;
	gap: 55px;

	margin-bottom: 60px;

	@include xl {
		gap: 30px;
	}

	@include lg {
		gap: 0;
		flex-wrap: wrap;
	}

	&__sidebar {
		width: 294px;
		height: inherit;
		flex-shrink: 0;

		@include lg {
			flex-shrink: none;			
			width: 100%;
			background-color: #f6f6f6;
		}
	}
	&__content {
		height: inherit;
		width: calc(100% - 294px);

		@include lg {			
			width: 100%;
		}
	}
}
