/* ------------------------------------------------------------------------------------------------------------------------------
Account content styles
--------------------------------------------------------------------------------------------------------------------------------*/
.account .exp-pagination {
	padding-top: 30px;
	margin-bottom: 0;
}


/*---------------------------------------------Tile ---------------------------------------------*/
.account-tile {
	background-color: #f6f6f6;
	padding: 30px 40px;
	color: #2f2f2f;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;

		margin-bottom: 30px;
	}

	&__date {
		display: flex;
		flex-direction: column;

		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		opacity: 0.5;
	}
}

/*--------------------------------------------- Reviewsw---------------------------------------------*/
.account-reviews{
	display: flex;
	flex-direction: column;
	gap: 15px;

}

/*--------------------------------------------- Form ---------------------------------------------*/

.account-form {
	margin-bottom: 60px;
}


/*--------------------------------------------- Vitrine ---------------------------------------------*/
.account-vitrine {
	.product-card {
		border: 1px solid rgba(47, 47, 47, 0.1);
	}
	.product-card__header {
		aspect-ratio: 306/244;

		@include md {
			aspect-ratio: 155/192;
		}
	}
	.product-card__body {
		@include sm {
			padding-inline: 10px;
		}
	}

	.product-card__location {
		padding-top: 3px;
		margin-bottom: 7px;
		vertical-align: middle;

		span {
			@include md {
				line-height: 147%;
			}
		}
	}
	.product-card__title {
		margin-bottom: 15px;
		@media (max-width: 850px) {
			font-size: 16px;
		}
		@include md {
			font-size: 15px;
		}
		@include sm {
			font-size: 12px;
		}
	}
	.product-card__group {
		flex-direction: column;
		align-items: start;
		gap: 6px;
		@include md {
			flex-direction: row;
		}
	}

	.product-card__discount {
		order: 1;
		@include md {
			order: 2;
		}
	}
	.product-card__price {
		order: 2;
		@include md {
			order: 1;
		}
	}

	.product-card__price-old {
		@media (max-width: 850px) {
			font-size: 14px;
		}
		@include sm {
			font-size: 12px;
		}
	}
	.product-card__like {
		order: 3;
		@include md {
			order: 3;
		}
		bottom: -1px;
		right: 4px;
		width: 26px;
		@include md {
			right: 8px;
		}
		&.active {
			width: 23px;
		}
	}
}

/*--------------------------------------------- Editable input  ---------------------------------------------*/
.editable {
	color: rgba(47, 47, 47);
	&-text {
		display: block;
		font-weight: 400;
		font-size: 14px;

		margin-bottom: 7px;
	}

	&-wrap {
		display: flex;
		align-items: center;
		width: 100%;
		background: var(--white);
		padding: 10px 12px;

		min-height: 48px;
	}
	&-input {
		background: var(--white);
		flex-grow: 1;
		font-weight: 400;
		font-size: 14px;

		&::placeholder {
			opacity: 0.5;
		}
	}

	&-buttons {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	&-button {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		height: 100%;
		aspect-ratio: 1/1;

		font-size: 20px;
		font-weight: bold;

		&:hover {
			color: var(--accent);
			svg {
				stroke: var(--accent);
			}
		}
		svg {
			stroke: var(--text);
			aspect-ratio: 1/1;
			width: 22px;

			transition: 0.3s ease-in-out;
		}
	}
}

/* --------------------------------------------------------------- Choices select group --------------------------------------------------------------------*/
.choices-select-group {
	display: flex;
	flex-direction: column;
	gap: 6px;

	@include sm {
		gap: 4px;
	}

	label {
		font-weight: 400;
		font-size: 14px;

		@include sm {
			font-weight: 400;
			font-size: 12px;
		}
	}
	.group-hint {
		font-weight: 400;
		font-size: 14px;
		color: #2f2f2f;

		padding-top: 10px;
		margin-bottom: -5px;

		@include sm {
			font-size: 10px;

			padding-top: 0;
			margin-bottom: 5px;
		}
	}

	/* -------------------------------------------------------- Choices custom ------------------------------------------------------*/
	.choices {
		color: rgba(47, 47, 47, 0.5);
		background-color: #fff;
		min-height: 48px;
		&:before {
			right: 10px;
			opacity: 0.5;
		}
	}
	.choices__inner {
		border: 1px solid transparent !important;
		padding-inline: 10px;
	}

	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		left: 0;

		.choices__item {
			font-weight: 400;
			font-size: 14px !important;
			padding-inline: 15px;
			min-height: 47px;

			display: flex;
			align-items: center;
		}
	}

	.choices::before {
		right: 15px; /* позиция справа */
	}
}
