/* ------------------------------------------------------------------------------------------------------------------------------
Account content styles
--------------------------------------------------------------------------------------------------------------------------------*/
.account .exp-pagination {
	padding-top: 30px;
	margin-bottom: 0;
}

/*---------------------------------------------Tile ---------------------------------------------*/
.account-tile {
	background-color: #f6f6f6;
	padding: 30px 40px;
	color: #2f2f2f;
	height: 100%;

	@include sm {
		padding: 15px 15px 23px 15px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 25px;

		@include lg{
			display: none;
		}

		&--lh08 {			
			line-height: 80%;
			font-size: 24px;			
		}

		&--center {		
			// width: 100%;	
			// text-align: center;
			line-height: 120%;
			font-size: 24px;			
		}
	}

	&__date {
		display: flex;
		flex-direction: column;

		font-weight: 400;
		font-size: 14px;
		line-height: 114%;
		opacity: 0.5;
	}

	&__accgrid {
		display: flex;
		gap: 13px;
		margin-bottom: 30px;

		@include xl {
			flex-wrap: wrap;
		}

		@include sm{
			margin-bottom: 15px;
		}

		&--short {
			width: 19%;
			height: inherit;

			display: flex;
			align-items: center;

			@include xl {
				padding-bottom: 10px;
				width: 100%;
			}

			@include lg {
				display: none;
			}
		}
		&--long {
			width: 81%;
			height: inherit;
			@include xl {
				width: 100%;
			}
		}
	}
}

/*--------------------------------------------- acc card ---------------------------------------------*/
.acc-card {
	min-height: 106px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--white);
	padding: 15px;

	@include sm {
		padding: 10px 15px;		
		gap: 30px;
		align-items: center;
		min-height: initial;
		height: 43px;
		flex-direction: row;
	}	

	&__part {
		display: inline-flex;
		align-items: center;
		gap: 10px;		

		&:nth-child(2) {			
			flex-shrink: 0;
			align-self: flex-end;
			@include sm{
				max-height: 20px;
			}
		}
	}

	&__label {
		display: flex;
		align-items: center;
		svg {
			aspect-ratio: 1/1;
			width: 28px;
			stroke: var(--accent);

			@include md {
				width: 20px;
			}
		}
	}

	&__title {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.07421;

		@include lg {
			font-size: 13px;
		}

		@include md {
			font-size: 12px;
		}
	}

	&__count {
		font-weight: 600;
		font-size: 26px;
		line-height: 1.15229;

		@include md {
			font-size: 20px;
		}
	}

	&__star {
		display: inline-flex;
		align-items: center;
		margin-left: -7px;
		margin-top: -2px;
		svg {
			aspect-ratio: 1/1;
			width: 24px;

			@include md {
				width: 20px;
			}
		}
	}
}

/* ------------------------------------------------- Session --------------------------------------------*/
.account-sessions {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.session {
	color: #2f2f2f;
	background-color: var(--white);
	padding: 30px 40px;

	display: flex;
	justify-content: space-between;
	gap: 40px;

	@include sm {
		padding: rem(15) rem(12);
	}

	&-group {
		display: flex;
		gap: 20px;

		.btn-accent {
			padding-inline: 0;
			height: 44px;
			aspect-ratio: 1/1;
			justify-content: center;
			svg {
				stroke: white;
				width: 24px;
				aspect-ratio: 1/1;
			}
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		gap: 7px;

		&--type {
			padding-right: 5px;
		}
		&--browser {
			padding-right: 10px;
		}

		&__name {
			font-weight: 500;
			font-size: 18px;
		}

		&__info {
			font-weight: 400;
			font-size: 16px;
			opacity: 0.5;
		}
	}
}
/*--------------------------------------------- Reviewsw---------------------------------------------*/
.account-reviews {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/*--------------------------------------------- Vitrine ---------------------------------------------*/
.account-vitrine {
	.product-card {
		border: 1px solid rgba(47, 47, 47, 0.1);
	}
	.product-card__header {
		aspect-ratio: 306/244;

		@include md {
			aspect-ratio: 155/192;
		}
	}
	.product-card__body {
		@include sm {
			padding-inline: 10px;
		}
	}

	.product-card__location {
		padding-top: 3px;
		margin-bottom: 7px;
		vertical-align: middle;

		span {
			@include md {
				line-height: 147%;
			}
		}
	}
	.product-card__title {
		margin-bottom: 15px;
		@media (max-width: 850px) {
			font-size: 16px;
		}
		@include md {
			font-size: 15px;
		}
		@include sm {
			font-size: 12px;
		}
	}
	.product-card__group {
		flex-direction: column;
		align-items: start;
		gap: 6px;
		@include md {
			flex-direction: row;
		}
	}

	.product-card__discount {
		order: 1;
		@include md {
			order: 2;
		}
	}
	.product-card__price {
		order: 2;
		@include md {
			order: 1;
		}
	}

	.product-card__price-old {
		@media (max-width: 850px) {
			font-size: 14px;
		}
		@include sm {
			font-size: 12px;
		}
	}
	.product-card__like {
		order: 3;
		@include md {
			order: 3;
		}
		bottom: -1px;
		right: 4px;
		width: 26px;
		@include md {
			right: 8px;
		}
		&.active {
			width: 23px;
		}
	}
}

/*--------------------------------------------- Editable input  ---------------------------------------------*/
.sparka {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

/* --------------------------------------------------------------- Choices select group --------------------------------------------------------------------*/
.choices-select-group {
	display: flex;
	flex-direction: column;
	gap: 6px;

	@include sm {
		gap: 4px;
	}

	label {
		font-weight: 400;
		font-size: 14px;

		@include sm {
			font-weight: 400;
			font-size: 12px;
		}
	}
	.group-hint {
		font-weight: 400;
		font-size: 14px;
		color: #2f2f2f;

		padding-top: 10px;
		margin-bottom: -5px;

		@include sm {
			font-size: 10px;

			padding-top: 0;
			margin-bottom: 5px;
		}
	}

	/* -------------------------------------------------------- Choices custom ------------------------------------------------------*/
	.choices {
		color: rgba(47, 47, 47, 0.5);
		background-color: #fff;
		min-height: 48px;
		&:before {
			right: 10px;
			opacity: 0.5;
		}
	}
	.choices__inner {
		border: 1px solid transparent !important;
		padding-inline: 10px;
	}

	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		left: 0;

		.choices__item {
			font-weight: 400;
			font-size: 14px !important;
			padding-inline: 15px;
			min-height: 47px;

			display: flex;
			align-items: center;
		}
	}

	.choices::before {
		right: 15px; /* позиция справа */
	}
}
