/* ------------------------------------------------------------------------------------------------------------------------------
Account menu human
--------------------------------------------------------------------------------------------------------------------------------*/
.menu-human {
	background-color: #f6f6f6;
	padding: 34px 32px 35px;
	@include sm {
		padding: 35px 30px;
	}

	&__flex {
		display: flex;
		flex-direction: column;
		gap: 76px;

		// @include sm {
		// 	gap: 80px;
		// }
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 43px;

		@include sm {
			gap: 80px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;

		&:nth-child(2) {
			gap: 20px;
			@include sm {
				gap: 18px;
			}
		}

		@include sm {
			gap: 30px;
		}

		li {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			&.warn a {
				color: var(--red) !important;
				svg {
					stroke: var(--red) !important;
				}
			}

			&:hover a {
				color: var(--gray);
				svg {
					stroke: var(--gray);
				}
			}

			&.active a {
				color: var(--accent) !important;
				svg {
					stroke: var(--accent) !important;
				}
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 15px;

				font-weight: 400;
				font-size: 16px;
				color: rgba(47, 47, 47, 0.5);

				transition: all 0.15s ease-in-out;

				@include sm {
					font-size: 14px;
					color: var(--text);
				}

				svg {
					fill: transparent;
					width: 24px;
					aspect-ratio: 1/1;
					stroke: #939393;
					transition: all 0.15s ease-in-out;

					@include sm {
						stroke: var(--text);
					}
				}
				svg.icon--account-faq {
					height: 23px;
				}
			}
		}
	}
}
